.panel {
  border-left: 0;
}

.list-group {
  .list-group-item {
    padding: 0;


    a {
      display: block;
      padding: 10px 15px;
      border-left: 3px solid $brand-primary;
      transition: border-width 0.1s ease-in-out;

      &:hover, &:active, &:visited {
        text-decoration: none;
        border-width: 6px;
      }
    }

  }
}